body{
    font-size: $font-size-base;
    line-height: $lh-base;
    color: $color-text;
    font-family: $font-family-base;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5{
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    margin: 0;
    line-height: $lh-header;
}

a{
    text-decoration: none;
}


h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h2{
    font-size: 2rem;
    line-height: 2.25rem;
}

h3{
    font-size: 1.25rem;
    line-height: 1.5rem;
}
h4{
    font-size: 1rem;
    line-height: 1.125rem;
}

%menu-link {
    color: $color-text;
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    letter-spacing: 1px;
    line-height: 20px;
}


@media #{$lrg}{
    h1{
        font-size: 3.998rem;
        line-height: 4.5rem;
    }
    h2{
        font-size: 2.83rem;
        line-height: 3rem;
    }

    h3{
        font-size: 2rem;
        line-height: 2.25rem;
    }
    h4{
        font-size: 1.414rem;
        line-height: 1.75rem;
    }
}