.center{text-align: center}

.padding-1{padding: 0 1rem;}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    flex: 100%;
    width: 100%;
}

.section{
    padding: 2rem 0;

    @media #{$med}{
        padding: 4rem 0;
    }

    @media #{$med}{
        padding: 6rem 0;
    }
}

.title{
    flex: 100%;
    text-align: left;
    margin-bottom: 2rem;

    &--center{text-align: center}
}

.white{color: white}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}