.btn{
    display: block;
    color: white;
    background: gray;
    font-size: $font-size-small;
    font-family: $font-family-heading;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: .15em;
    text-align: center;
    padding: .625rem 1rem;
    transition: map-get( $trans, short );

    &--primary{
        background: $color-primary;
        color: $color-text;

        &:hover, &:focus{
            background: lighten( $color-primary, 3% );
        }
    }

    &--secondary{
        background: $color-secondary;
        color: $color-white;

        &:hover, &:focus{
            background: lighten( $color-secondary, 3% );
        }
    }
    &--large{
        font-size: $font-size-base;
        padding: 1rem 2rem;
    }
}