.btn{
    display: block;
    color: white;
    background: gray;
    font-size: $font-size-small;
    font-family: $font-family-heading;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    padding: .5rem 1rem;
    transition: map-get( $trans, short );

    &--primary{
        background: $color-primary;

        &:hover{
            background: lighten( $color-primary, 5% );
        }
    }
}