.testimonial{

    &__img{
        display: block;
        margin-bottom: 2rem;
    }

    &__body{
        margin: 0 0 1rem;
        padding: calc(2rem - 2px) 0 0;

        box-shadow: inset 0px 2px 0px $color-primary;
    }
    
    &__text{
        font-style: italic;
    }

    &__name{
        text-align: left;
        padding: 0;
        margin: 0;
        letter-spacing: .05em;
        &:before{
            content: '-';
            padding-right: .125rem;
        }
    }
}