.contact-section{
    &__title{
        margin: 0 0 .5rem;
    }
    &__desc{
        // letter-spacing: .15em;
        flex: 100%;
        margin: 0 0 1rem;
        padding: 0 1rem;
        font-size: $font-size-small;
    }
}