.tagline{

    margin: 2rem auto;

    &__img{
        display: block;
        max-width: 4rem;
        height: auto;
        margin-bottom: 1rem;
    }

    &__desc{
        border-bottom: solid 4px $color-text;
        padding-bottom: 2rem;
    }

    @media #{$med}{
        margin: 4rem auto;
    }
}

.section--hero{
}


.hero{
    &__info{
        color: white;
        margin-bottom: 2rem;
    }

    &__desc{
        color: $color-white;
        font-weight: $font-weight-light;
        margin-bottom: 1.5rem;
    }

}


//  HOME TYPES

.home-types{

    @media #{$sml}{
        @include flex(flex-start, wrap)
    }

}

.home-types__main{
    display: block;
    @include flex(center, nowrap);

    @media #{$sml}{
        @include flex(center, wrap);
        flex: 1;
        width: auto;
    }

    @media #{$med}{
        @include flex(center, nowrap);
        flex: 75%;
        width: auto;
    }
}

.home-type-main{
    flex-basis: 100;
    width: 100%;
    padding: 0 .5rem;
    margin-bottom: 2rem;


    &__img{
        max-width: 2rem;
        height: auto;
        margin-left: .25rem;
    }

    &__title{
        font-size: $font-size-large;
        line-height: $lh-base;
    }

    &__hr{
        display: none;
    }

    &__plumbing{
        color: $color-text-semi;
        display: block;
        font-size: $font-size-small;
        text-transform: lowercase;
        font-variant: small-caps;
        letter-spacing: .1em;
    }

    @media #{$sml}{
        &__title{
            font-size: $font-size-large;
            line-height: $lh-base;
        }

        &__hr{
            display: block;
            border: 0;
            height: 1px;
            background: $color-text;
        }

    }

    @media #{$med}{
        flex: 1;
        padding: 1rem;
        &__title{
            font-size: 1.563rem;
            line-height: 1.5rem;
        }

        &__img{
            max-width: 4rem;
        }

        &__hr{
            height: 2px;
        }
    }

    @media #{$lrg}{
        &__title{
            font-size: 1.777rem;
            line-height: 2rem;
        }
    }

}

.home-types-other{
    width: 100%;
    padding: 0 1rem;

    &__title{
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
    @media #{$sml}{
        flex: 50%;
        max-width: 50%;
    }

    @media #{$med}{
        flex: 25%;
        max-width: 25%;
    }
}


.home-types-list{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.home-type-item{
    display: block;
    margin-bottom: .5rem;
    color: $color-text-semi;
}


//  HOME PROJECTS
.home-projects{
    &__title{
        margin: 0 0 1rem;
    }

    &__desc{
        margin: 0 0 1.5rem;
    }
}