.services-list{
    width: 100%;

    columns: 2 100px;
    margin-bottom: 2rem;

}

.service{
    font-weight: $font-weight-body;
    font-size: $font-size-large;
    margin-bottom: .625rem;
    text-align: center;

}